html,
body {
  overflow: auto;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', serif, sans-serif;
}

#root {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
